.cart-item-container {
  width: 580px;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(218, 217, 217);
}
.remove-button {
  border: none;
  position: absolute;
  right: 0;
}
.cart-item-image {
  margin-right: 20px;
  object-fit: cover;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
}
.cart-item-additional-details {
  color: gray;
  font-size: 14px;
}

@media only screen and (max-width: 430px) {
  /* Mobile styles */
  .cart-item-container {
    width: 370px;
    height: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(218, 217, 217);
  }
}

@media only screen and (max-width: 820px) {
  /* Tablet styles */
}
