.size-selector-wrapper {
  margin-bottom: 20px;
}

.selected {
  border-color: rgb(122, 122, 122);
  background-color: white;
  color: black;
}

button {
  border-color: rgb(237, 237, 237);
  border-style: solid;
  background-color: white;
  border-width: thin;
  color: rgb(114, 114, 114);
  margin: 5px;
  padding: 8px 16px;
  cursor: pointer;
}
