.you-might-like-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.you-might-like-cards {
  /* padding: 4rem; */
  background: #fff;
  justify-content: center;
  margin-top: 0;
}

.you-might-like-cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
