.register-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-title {
  margin-bottom: 30px;
}
.sign-up-page-already-have-an-account {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.already-have-an-account-paragraph {
  margin-right: 5px;
}
.sign-up-page-login-link {
  color: black;
  font-weight: 700;
}
